<!-- Opiniones -->
<div id="opinion-layout">
    <mat-card>
        <mat-card-content>

            <div fxLayout="column wrap " fxLayoutGap=" 5px ">
                <div fxFlex="100%">
                    <h1>
                        Opiniones
                    </h1>
                </div>
                <!-- fxLayoutAlign="space-between end" -->
                <app-opinions-rating></app-opinions-rating>

                <div fxFlex="100% ">
                    <hr>

                </div>

                <app-opinions-opinion></app-opinions-opinion>

                <div fxFlex="100%">
                    <hr>
                </div>

                <app-opinions-opinion></app-opinions-opinion>

                <div fxFlex="100%">
                    <hr>
                </div>

                <app-opinions-opinion></app-opinions-opinion>

                <!-- Ver todas las opiniones -->
                <div fxLayout="row" fxLayoutAlign="end end ">
                    <button style="
                    background-color: #ffffff;
                    border-radius: 18px;
                    box-shadow: inset 3px 3px 6px rgba(0, 0, 0, .16);
                    overflow: hidden;
                    width: 261px;
                    height: 36px;
                    ">
                        <div style="font-weight: 500;
                    letter-spacing: 1.246px;
                    color: #e91e63;
                    text-transform: uppercase;">Ver todas las opiniones</div>
                    </button>

                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>