<!-- Otras Ofertas -->
<div id="offers-layout ">
    <mat-card>
        <mat-card-content>
            <h1>Descrubre otras ofertas</h1>
            <div fxLayout="row wrap " fxLayoutAlign="start center " fxLayoutGap="10px grid ">
                <mat-card>
                    <mat-card-content style="color: #ffffff;
                    width: 277px;
                    height: 380px;">
                        <div fxLayout="column wrap " fxLayoutAlign="center center " fxLayoutGap="16px grid ">
                            <div fxFlex="20% " style="width: 245px; height: 184px;">
                                <img src="assets/img/img1.jpg " alt="1 " style=" border-end-start-radius: 10px; width: 100%; height: 100%; object-fit:cover; object-position: center; border-radius: 8px; margin: 0%; ">
                            </div>
                            <div fxFlex="80%">

                                <div style="font-size: 16px;
                            letter-spacing: .144px;
                            color: rgba(0,0,0,.87);">Calor y cafe</div>
                                <div style="font-size: 12px;
                            letter-spacing: .396px;
                            color: #757575;">
                                    Habana / Matanzas / Cienfuegos / Holguín / Guantánamo

                                </div>
                                <div>
                                    <h2>$200CUP</h2>
                                </div>
                                <div>
                                    <div style="font-size: 10px;
                                font-weight: 500;
                                letter-spacing: 1.5px;">Por persona</div>
                                </div>
                                <hr>
                                <div style="font-size: 12px;
                            letter-spacing: .396px;
                            text-decoration: underline;
                            color: #e91e63;">
                                    La Habana Cuba
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-card-content>
    </mat-card>
</div>