.padding-left-right {
    padding-left: 20%;
    padding-right: 20%;
}





:host{
    h1 {
        font-size: 34px;
        font-weight: 700;
        color: rgba(0, 0, 0, .87);
    }
    h2 {
    font-size: 24px !important;
    font-weight: 700 !important;
    letter-spacing: .168px !important;
    color: rgba(0, 0, 0, .87) !important;
    }
}

// ::ng-deep mat-card{
//         padding-inline: 8px !important;
// }

// img {
//     border-end-end-radius: 10px;
// }