<!-- Otras Ofertas -->
<div id="offers-layout ">
    <mat-card>
        <mat-card-content>
            <h2>Descrubre otras ofertas</h2>
            <div fxLayout="row wrap " fxLayoutAlign="start center " fxLayoutGap="10px grid ">
                <mat-card>
                    <mat-card-content>
                        <div fxLayout="column wrap " fxLayoutAlign="start start " fxLayoutGap="10px grid ">
                            <img fxFlex="20% " src="assets/img/img1.jpg " alt="1 " style=" width: 100%; height: 100%; object-fit:cover; object-position: center; border-radius: 8px; margin: 1%; ">
                            <h4>Calor y cafe</h4>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-card-content>
    </mat-card>
</div>