.padding-left-right {
    padding-left: 20%;
    padding-right: 20%;
}

h1 {
    font-size: 34px;
    font-weight: 700;
    color: rgba(0, 0, 0, .87);
}

h2 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: .168px;
    color: rgba(0, 0, 0, .87);
}

// img {
//     border-end-end-radius: 10px;
// }