<div fxFlex="100%" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px grid">
    <div fxFlex="20%" class="menu-middle">
2 adultos y 1 niño   
    </div>
    <div fxFlex="15%" class="menu-middle">
Doble
    </div>
    <div fxFlex="25%" class="menu-middle">
        Estandar
    </div>
    <div fxFlex="12%" class="menu-middle">
       Desayuno - Cena
    </div>
    <div fxFlex="8%" class="menu-middle">
        Incluida
    </div>
    <div fxFlex="20%" fxLayout="row" fxLayoutAlign="end" class="menu-middle-right">
        $ 1000
    </div>
</div>
