<div fxLayout="row nowrap" fxLayoutAlign="start start" fxLayoutGap="20px grid">
    <h3 fxFlex="20%">
        CANTIDAD DE PERSONAS
    </h3>
    <h3 fxFlex="15%">
        TIPO DE HABITACIONES
    </h3>
    <h3 fxFlex="25%">
        CATEGORÍA DE LAS HABITACIONES
    </h3>
    <h3 fxFlex="12%">
        PLAN ALIMENTICIO
    </h3>
    <h3 fxFlex="8%">
        TRANSPORTACIÓN
    </h3>
    <div fxFlex="20%" fxLayoutAlign="center start">
        <h3>
            PRECIO POR GRUPO
        </h3>
    </div>
</div>