<div fxFlex="100%" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="1px grid">
    <div fxFlex="20%" class="menu-top">
        CANTIDAD DE PERSONAS
    </div>
    <div fxFlex="15%" class="menu-top">
        TIPO DE HABITACIONES
    </div>
    <div fxFlex="25%" class="menu-top">
        CATEGORÍA DE LAS HABITACIONES
    </div>
    <div fxFlex="12%" class="menu-top">
        PLAN ALIMENTICIO
    </div>
    <div fxFlex="8%" class="menu-top">
        TRANSPORTACIÓN
    </div>
    <div fxFlex="20%" fxLayout="row" fxLayoutAlign="end" class="menu-top">
        PRECIO POR GRUPO
    </div>
</div>