<mat-card style="background-color: #ffffff;">
    <mat-card-content style="width: 100%; height: 100%; padding-inline: 10px;">
        <div fxFlex="100%" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
            <div fxFlex="auto" style="width: 100%; height: 100%; ">
                <img src="assets/img/ed51de4bfaffa8761c8a1296f6dcbc37@1x.png" alt="1 " style="border-top-right-radius: 15px; border-bottom-left-radius: 15px; width: 100%; height: 100%; object-fit:cover; object-position: center;">
            </div>
            <div fxFlex="auto" fxLayout="column">

                <div fxFlex="100%" style="font-size: 15px; letter-spacing: .144px; color: rgba(0,0,0,.87); ">Calor y café</div>
                <div fxFlex="100%" fxLayout="row" fxLayoutAlign="start start">
                    <mat-icon style="font-size: 14px; color: #e91e63;"> place</mat-icon>

                    <div style="font-size: 9px; letter-spacing: .296px; color: #757575; line-height: 10px;">
                        Habana / Matanzas / Cienfuegos / Holguín / Guantánamo
                    </div>
                </div>


                <div fxLayout="column" fxLayoutAlign="end end " fxLayoutGap="1px">
                    <!-- <div> -->
                    <h2 fxFlex="100%">$1500 CUP</h2>
                    <!-- </div> -->
                    <!-- <div> -->
                    <div style="font-size: 8px; font-weight: 500; letter-spacing: 0.9px; line-height: 1px;">POR PERSONA</div>
                    <!-- </div> -->
                </div>

                <div>
                    <hr>
                </div>

                <div fxLayoutAlign="space-between center ">
                    <div class="special-text">
                        15 DÍAS / 14 NOCHES
                    </div>
                    <div fxLayout="row nowrap " fxLayoutAlign="start start " fxLayoutGap="0px grid ">
                        <div style="font-size: 15px; font-weight: 700; letter-spacing: .16px; color: #e91e63; ">5</div>

                        <mat-icon style="color: #e91e63; font-size: 20px;">star</mat-icon>

                    </div>
                </div>

            </div>
        </div>
    </mat-card-content>
</mat-card>