.text-left {
    font-size: 12px;
    font-weight: 401;
    letter-spacing: .496px;
    color: rgba(0, 0, 0, .87);
}

.text-right {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .16px;
    color: rgba(0, 0, 0, .87);
}