<div fxLayout="column wrap" fxLayoutGap="15px grid">
    <div fxLayout="row nowrap" fxLayoutAlign="space-between start">
        <div class="text-left">
            Subtotal:
        </div>
        <div class="text-right">
            $ 2000
        </div>
    </div>
    <div fxLayoutAlign="space-between center">
        <div class="text-left">
            Suplementos:
        </div>
        <div class="text-right">
            $ 2000
        </div>
    </div>
    <div fxLayoutAlign="space-between center">
        <div class="text-left">
            Cargos por Reservación:
        </div>
        <div class="text-right">
            $ 2000
        </div>
    </div>
</div>