<div fxFlex="100%" fxLayout="column" fxLayoutGap="15px">
    <div fxLayout="row" fxLayoutAlign="space-between start">
        <div class="text-left">
            Subtotal:
        </div>
        <div class="text-right">
            $ 2000
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div class="text-left">
            Suplementos:
        </div>
        <div class="text-right">
            $ 2000
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div class="text-left">
            Cargos por Reservación:
        </div>
        <div class="text-right">
            $ 2000
        </div>
    </div>
</div>