<div fxFlex="100%" fxLayout="column" fxLayoutGap="5px">
    <h1 fxFlex="100%">
        Detalles de la Reserva
    </h1>

    <app-pays-reservation-details-package fxFlex="100%"></app-pays-reservation-details-package>

    <div fxFlex="100%">
        <hr>
    </div>

    <app-pays-reservation-details-groups fxFlex="100%"></app-pays-reservation-details-groups>

    <div fxFlex="100%">
        <hr>
    </div>

    <app-pays-reservation-details-counts fxFlex="100%"></app-pays-reservation-details-counts>
</div>