<div fxFlex="100%" fxLayout="column" fxLayoutGap="10px">
    <div fxFlex="100%" style="font-size: 17px !important; font-weight: 600 !important;">Métodos de Pago</div>

    <div fxFlex="100%" fxLayout="row" fxLayoutAlign="space-between center" style="padding-right: 3%;">
        <!-- Enzona -->
        <div fxLayoutAlign="center" fxLayoutGap="10px">
            <input type="radio" checked="true" style="background-color: #ffffff;
            border-radius: 50%;
            border: 1px solid #757575;
            width: 20px;
            height: 20px;
            overflow: hidden;">
            <img src="assets/img/enzona.png" alt="">
        </div>
        <!-- MasterCard -->
        <div fxLayoutAlign="center" fxLayoutGap="10px">
            <input type="radio" style="background-color: #ffffff;
            border-radius: 50%;
            border: 1px solid #757575;
            width: 23px;
            height: 23px;
            overflow: hidden;">
            <img src="assets/img/MasterCard.png" alt="">
        </div>

        <!-- AmericanExpress -->
        <div fxLayoutAlign="center center" fxLayoutGap="10px">
            <input type="radio" style="background-color: #ffffff;
            border-radius: 50%;
            border: 1px solid #757575;
            width: 23px;
            height: 23px;
            overflow: hidden;">
            <img src="assets/img/AmericanExpress.png" alt="">
        </div>

        <!-- Transfermovil -->
        <div fxLayoutAlign="center center" fxLayoutGap="10px">
            <input type="radio" style="background-color: #ffffff;
            border-radius: 50%;
            border: 1px solid #757575;
            width: 23px;
            height: 23px;
            overflow: hidden;">
            <img src="assets/img/Transfermovil.png" alt="">
        </div>

        <!-- Visa_Logo -->
        <div fxLayoutAlign="center" fxLayoutGap="10px">
            <input type="radio" style="background-color: #ffffff;
            border-radius: 50%;
            border: 1px solid #757575;
            width: 23px;
            height: 23px;
            overflow: hidden;">
            <img src="assets/img/Visa_Logo@1x.png" alt="">
        </div>
    </div>
</div>