<div fxFlex="100%" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="1px grid">
    <div fxFlex="15%" class="menu-top">
        NOMBRE DEL CLIENTE
    </div>
    <div fxFlex="20%" class="menu-top">
        APELLIDOS DEL CLIENTE
    </div>
    <div fxFlex="10%" class="menu-top">
        DOCUMENTO 1
    </div>
    <div fxFlex="20%" class="menu-top">
        NÚMERO DEL DOCUMENTO 1
    </div>
    <div fxFlex="15%" class="menu-top">
        TELÉFONO
    </div>
    <div fxFlex="20%" fxLayout="row" fxLayoutAlign="center start" class="menu-top">
        CORREO ELECTRÓNICO
    </div>
</div>
