<!-- Right Column -->
<div style="position:fixed;">
    <mat-card >
        <mat-card-content >
            <div fxLayout="column ">
                <h3 style="color: gray; ">
                    Busqueda
                </h3>
                <button style="height:50px ">Search</button>
                <h2>
                    Resumen de la reserva
                </h2>
                <div fxLayout="row wrap " fxLayoutAlign="start center " fxLayoutGap="10px grid ">
                    <div fxFlex="50% ">
                        Fecha de inicio
                    </div>
                    <div fxFlex="50% ">
                        <b>12 de Enero del 2021</b>
                    </div>
                    <div fxFlex="50% "></div>
                    <div fxFlex="50% ">15 DÍAS / 14 NOCHES

                    </div>
                    <div fxFlex="100% ">
                        <hr>

                    </div>



                </div>


                <div fxLayout="row wrap " fxLayoutAlign="start center " fxLayoutGap="10px grid ">
                    <div fxFlex="50% ">
                        <h5>
                            Calor y cafe
                        </h5>
                    </div>

                    <div fxFlex="50% ">
                        <h5>
                            Opción 2
                        </h5>
                    </div>

                    <div fxFlex="100% ">
                        <hr>

                    </div>
                </div>

                <div fxLayout="row wrap " fxLayoutAlign="start center " fxLayoutGap="10px grid ">
                    <div fxFlex="50% ">
                        <h5>
                            Grupo 1
                        </h5>
                    </div>

                    <div fxFlex="50% ">
                        <h5>
                            2 Adultos
                        </h5>
                    </div>

                    <div fxFlex="100% ">
                        <hr>

                    </div>
                </div>
            </div>

        </mat-card-content>
    </mat-card>
</div>