<!-- Right Column -->
<div style="position: sticky; top: 0; color: #ffffff; width: 343px; height: 811px;">
    <mat-card>
        <mat-card-content>
            <div fxLayout="column wrap" fxLayoutAlign="center stretch">
                <!-- Search Component -->
                <div fxLayout="column wrap" fxLayoutAlign="center stretch" fxLayoutGap="20px">
                    <div fxFlex="100%" style="font-size: 20px;
                letter-spacing: .16px;
                color: #757575;">
                        Busqueda
                    </div>

                    <div fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="end end" fxLayoutGap="0px grid" style="border-radius: 25.5px;
                border: 1px solid #e91e63;
                width: 294px;
                height: 51px;
                overflow: hidden;
                padding-left:10px;
                ">
                        <div fxFlex="75%" fxLayout="column wrap" fxLayoutAlign="space-around stretch" fxLayoutGap="1px grid">
                            <div fxFlex="50%" style="font-size: 16px;
                        font-weight: 700;
                        letter-spacing: .496px;
                        color: rgba(0,0,0,.87);">Recorrer Cuba</div>
                            <div fxFlex="50%" style="font-size: 10px;
                        font-weight: 500;
                        letter-spacing: 1.5px;
                        color: #757575;">12 ENE-12 FEB / 2 ADULTOS / 2 . .</div>
                        </div>
                        <div fxFlex="25%" style="position: relative;" fxLayoutAlign="end end">
                            <div style="
                        
                        
                        border-radius: 50%;
                        border: 1px solid #e91e63;
                        width: 51px;
                        height: 51px;
                        overflow: hidden;
                    ">
                            </div>
                        </div>
                    </div>

                    <div fxFlex="100%" style="font-size: 20px;
                            font-weight: 700;
                            letter-spacing: .16px;
                            color: rgba(0,0,0,.87);">
                        Resumen de la reserva
                    </div>

                    <div fxFlex="100%" fxLayout="row wrap " fxLayoutAlign="start center " fxLayoutGap="10px grid ">
                        <div fxFlex="35% " style="font-weight: 500;
                    letter-spacing: .252px;
                    color: #424242;">
                            Fecha de inicio
                        </div>
                        <div fxFlex="65% ">
                            <div style="font-size: 16px;
                        font-weight: 700;
                        letter-spacing: .496px;
                        color: rgba(0,0,0,.87);">12 de Enero del 2021</div>
                        </div>
                        <div fxFlex="45% "></div>
                        <div fxFlex="55% " style="font-size: 10px;
                    font-weight: 500;
                    letter-spacing: 1.5px;
                    color: #e91e63;">15 DÍAS / 14 NOCHES

                        </div>

                    </div>
                </div>


                <div fxFlex="100% " style="height: 0%;">
                    <hr>
                </div>

                <div fxFlex="100%" fxLayout="row wrap " fxLayoutAlign="start center " fxLayoutGap="10px grid ">
                    <div fxFlex="50% ">
                        <div style="font-size: 16px;
                        font-weight: 700;
                        letter-spacing: .144px;
                        color: #757575;">
                            Calor y cafe
                        </div>
                    </div>

                    <div fxFlex="50% ">
                        <div class="search-text-left">
                            Opción 2
                        </div>
                    </div>


                </div>

                <div fxFlex="100% " style="height: 0%;">
                    <hr>
                </div>



                <app-search-groups></app-search-groups>

                <div fxFlex="100% ">
                    <hr>
                </div>
                <app-search-groups></app-search-groups>

                <div fxFlex="100% ">
                    <hr>
                </div>

                <div fxFlex="100%" fxLayout="row wrap " fxLayoutAlign="space-between center " fxLayoutGap="10px grid ">
                    <div fxFlex="70% ">
                        <div class="sub-total-left">
                            Subtotal:
                        </div>
                    </div>

                    <div fxFlex="30% " class="li-right">
                        <div class="search-text-left">
                            $ 500
                        </div>
                    </div>
                </div>

                <div fxFlex="100%" fxLayout="row wrap " fxLayoutAlign="space-between center " fxLayoutGap="10px grid ">
                    <div fxFlex="70% ">
                        <div class="sub-total-left">
                            Cargos por Reservación:
                        </div>
                    </div>

                    <div fxFlex="30% " class="li-right">
                        <div class="search-text-left">
                            $ 50
                        </div>
                    </div>
                </div>

                <div fxLayout="column wrap" fxLayoutAlign="start center" fxLayoutGap="10px grid" style="color: #ffffff;
                border: 1px solid #e91e63;
                width: 294px;
                height: 130px;">
                    <div fxFlex="40%" fxLayout="row wrap" fxLayoutAlign="space-around stretch">
                        <div style="
                        font-weight: 700;
                        letter-spacing: .496px;
                        color: rgba(0,0,0,.87);">Total a pagar:</div>
                        <div style="font-size: 20px;
                        font-weight: 700;
                        letter-spacing: .16px;
                        color: #e91e63;">$ 4050</div>
                    </div>

                    <div fxFlex="40%" style="font-size: 12px;
                    letter-spacing: .396px;
                    color: #757575;">
                        Las tarifas se muestran en CUP
                    </div>

                    <div fxLayout="row" fxFlex="20%" fxLayoutAlign="end end">
                        <div fxLayoutAlign="center center" style="background-color: #e91e63;
                        border-radius: 18px;
                        box-shadow: inset 3px 3px 6px rgba(0, 0, 0, .16);
                        width: 133px;
                        height: 36px;
                        overflow: hidden;">
                            <div style="font-weight: 500;
                            letter-spacing: 1.246px;
                            color: #ffffff;">PAGAR</div>
                        </div>

                    </div>
                </div>

            </div>

        </mat-card-content>
    </mat-card>
</div>