<!-- <mat-tab-group fxLayout="column" >
    <mat-tab label="First"> Content 1 </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group> -->

  <!-- mat-tab-nav-bar -->

  <!-- #docregion mat-tab-nav -->
<!-- <nav mat-tab-nav-bar fxFlex="100%" [backgroundColor]="background" style="max-width: 100% !important;">
    <a mat-tab-link *ngFor="let link of links"
       (click)="activeLink = link"
       [active]="activeLink == link"> {{link}} </a>
    <a mat-tab-link disabled>Disabled Link</a>
  </nav>
  
  <button mat-raised-button class="example-action-button" (click)="toggleBackground()">
    Toggle background
  </button>
  <button mat-raised-button class="example-action-button" (click)="addLink()">
    Add link
  </button> -->

  <!-- #enddocregion mat-tab-nav -->

  <mat-tab-group fxFlex="100%">
    <mat-tab>
      <ng-template mat-tab-label class="dates-container" style="max-width: 150px;">
        <app-profile-options-swiper-dates-bdate></app-profile-options-swiper-dates-bdate>
      </ng-template>

      <!-- <div> -->
        <app-profile-options-swiper-list style="margin: 10px;"></app-profile-options-swiper-list>
        <app-profile-options-swiper-list style="margin: 10px;"></app-profile-options-swiper-list>
      <!-- </div> -->
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label class="dates-container" style="max-width: 150px;">
        <app-profile-options-swiper-dates-bdate></app-profile-options-swiper-dates-bdate>
      </ng-template>

      <!-- <div> -->
        <app-profile-options-swiper-list style="margin: 10px;"></app-profile-options-swiper-list>
        <app-profile-options-swiper-list style="margin: 10px;"></app-profile-options-swiper-list>
      <!-- </div> -->
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label class="dates-container" style="max-width: 150px;">
        <app-profile-options-swiper-dates-bdate></app-profile-options-swiper-dates-bdate>
      </ng-template>

      <!-- <div> -->
        <app-profile-options-swiper-list style="margin: 10px;"></app-profile-options-swiper-list>
        <app-profile-options-swiper-list style="margin: 10px;"></app-profile-options-swiper-list>
      <!-- </div> -->
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label class="dates-container" style="max-width: 150px;">
        <app-profile-options-swiper-dates-bdate></app-profile-options-swiper-dates-bdate>
      </ng-template>

      <!-- <div> -->
        <app-profile-options-swiper-list style="margin: 10px;"></app-profile-options-swiper-list>
        <app-profile-options-swiper-list style="margin: 10px;"></app-profile-options-swiper-list>
      <!-- </div> -->
    </mat-tab>
  </mat-tab-group>

  <!-- <div fxFlex="100%" fxLayout="column">
  <mat-form-field fxFlex="100%">
    <mat-label>Selected tab index</mat-label>
    <input matInput type="number" >
  </mat-form-field> -->
  <!-- [formControl]="selected" -->
  <!-- <div fxFlex="100%">
    <button mat-raised-button
            class="example-add-tab-button"
            (click)="addTab(selectAfterAdding.checked)">
      Add new tab
    </button>
    <mat-checkbox #selectAfterAdding> Select tab after adding </mat-checkbox>
  </div>
  
  <mat-tab-group fxFlex="100%" [selectedIndex]="selected.value"
                 (selectedIndexChange)="selected.setValue($event)">
    <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab" style="color: black;">
      Contents for {{tab}} tab
  
      <button mat-raised-button
              class="example-delete-tab-button"
              [disabled]="tabs.length === 1"
              (click)="removeTab(index)">
        Delete Tab
      </button>
    </mat-tab>
  </mat-tab-group>
</div> -->