<!-- <div fxFlex="100%" fxLayout="column" style="margin: 0px 10px 10px 0px;"> -->
    <mat-card fxFlex="100%" style="color: #ffffff;">
        <mat-card-content fxFlex="100%"  fxLayout="column" fxLayoutGap="10px">
                <div fxFlex="100%" fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="10px grid ">
                    <div fxFlex="auto" fxLayout="row">
                        <div class="options-text-top">Opción 1</div>
                    </div>
                    <div fxFlex="auto" fxLayout="row" fxLayoutAlign=" center">
                        <div style="font-size: 12px; letter-spacing: .252px; color: #707070;">
                            Ver mas detalles
                        </div>
                        <div mat-icon-button style="height:auto; width:auto; color: #707070;"aria-label="Example icon button with a vertical three dot icon ">
                            <mat-icon> expand_more</mat-icon>
                        </div>
                    </div>
                </div>

                <!-- Dias -->
                <!-- <div fxFlex="100%" fxLayout="column">
                    <mat-horizontal-stepper #stepper>
                        <mat-step label="Dia 1 ">
                        </mat-step>
                        <mat-step label="Dia 2 ">
                        </mat-step>
                        <mat-step label="Dia 3 ">
                        </mat-step>
                    </mat-horizontal-stepper>
                </div>
                 -->

                <!-- Componentes de opciones -->
                <app-swipper-profile-options-option fxFlex="100%"></app-swipper-profile-options-option>
                <!-- Componentes de opciones -->
<!-- 
                <div fxFlex="100%" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
                    <div style="color: black; ">Total del viaje </div>
                    <h1>$200CUP</h1>
                    <div>
                        <div fxLayoutAlign="center center" style="
                            background-color: #e91e63; 
                            border-radius: 18px; 
                            box-shadow: inset 0 3px 6px rgba(0, 0, 0, .16); 
                            width: 100%; 
                            height: 36px; 
                            overflow: hidden; ">
                            <div style="font-weight: 500; letter-spacing: 1.246px; color: #ffffff; ">Seleccionar</div>
                        </div>
                    </div>
                </div> -->

        </mat-card-content>
    </mat-card>
<!-- </div> -->
