<div fxLayoutGap="10px">
    <div fxLayout="row nowrap" fxLayoutGap="20px grid" style="padding-right: 30px;">
        <app-reservation-data-input></app-reservation-data-input>
        <app-reservation-data-input></app-reservation-data-input>
        <app-reservation-data-input></app-reservation-data-input>
    </div>

    <div fxLayout="row nowrap" fxLayoutGap="20px grid" style="padding-right: 30px;">
        <app-reservation-data-input></app-reservation-data-input>
        <app-reservation-data-input></app-reservation-data-input>
        <app-reservation-number-small></app-reservation-number-small>
        <app-reservation-number-medium></app-reservation-number-medium>
    </div>

    <div style="border-radius: 23.5px;
    border: 1px solid #bdbdbd;
    width: 95%;
    height: 98px;
    overflow: hidden;
    ">
        <div fxLayout="column wrap" style="padding-left: 2%;">
            <input matInput id="name" type="text" placeholder="Nota Adicional" value="" style="border: 0cm;">
        </div>
    </div>

</div>