<div fxFlex="100%" fxLayout="column" fxLayoutGap="1px">
    <h2 fxFlex="100%" style="font-weight: 500px !important; margin: 0px !important;">
        Grupos
    </h2>

    <div fxFlex="100%" fxLayout="column" fxLayoutGap="1px">
        <app-pays-reservation-details-groups-sections fxFlex="100%"></app-pays-reservation-details-groups-sections>
        <app-pays-reservation-details-groups-item fxFlex="100%"></app-pays-reservation-details-groups-item>
        <app-pays-reservation-details-groups-item fxFlex="100%"></app-pays-reservation-details-groups-item>
    </div>
</div>