<div fxLayoutGap="20px grid">
    <div style="font-size: 20px;
font-weight: 600;
letter-spacing: .16px;
color: #212121;">
        Grupos
    </div>

    <div fxLayout="column nowrap" fxLayoutGap="1px">
        <app-pays-reservation-details-groups-sections></app-pays-reservation-details-groups-sections>
        <app-pays-reservation-details-groups-item></app-pays-reservation-details-groups-item>
        <app-pays-reservation-details-groups-item></app-pays-reservation-details-groups-item>
    </div>
</div>