<div fxLayout="column wrap" fxLayoutGap="10px">
    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div style="font-size: 16px;
        font-weight: 500;
        letter-spacing: .496px;
        color: rgba(0,0,0,.87);">Impuesto de la Pasarela de Pago:</div>
        <div style="font-size: 20px;
        font-weight: 600;
        letter-spacing: .16px;
        color: rgba(0,0,0,.87);">$ 2000</div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div style="font-size: 24px;
        font-weight: 500;">Total a pagar</div>
        <div style="font-size: 34px;
        font-weight: 700;
        color: #e91e63;">$ 2000</div>
    </div>
</div>