<div fxFlex="100%" fxLayout="column" style="padding-top: 1%;">
    <!-- <div fxFlex="100%">

    </div> -->
    <div fxFlex="100%" fxLayout="row" fxLayoutAlign="space-between center">
        <div style="font-size: 15px;
        font-weight: 401;
        letter-spacing: .18px;
        color: rgba(0,0,0,.87);">
            Total a pagar
        </div>
        <div style="font-size: 27px;
        font-weight: 700;
        color: #e91e63;">
            $ 2000
        </div>
    </div>
    <div fxFlex="100%" fxLayout="row" fxLayoutAlign=" start" style="font-size: 12px;
    letter-spacing: .396px;
    color: #757575;">
        Las tarifas se muestran en dólares estadounidenses
    </div>
</div>