<!-- style="width: 96%; margin: 0 auto;" -->

<div style="background-color: #e4e4e4; padding-top: 20px; padding-bottom: 20px;">
    <div fxLayout="column" fxLayoutGap="20px" id="reservation-layout" class="page-container">
        <div fxLayout="row" fxLayoutAlign="space-between center" style="background-color: #e91e63; height: 75px; border-top-left-radius: 10px; border-top-right-radius: 10px; padding-inline: 1%">
            <!-- To do -->
            <div style="font-size: 16px; font-weight: 700; letter-spacing: .496px; color: #ffffff;">RESERVAR DE PAQUETE DE VIAJES</div>
            <mat-icon style="color: #ffffff">close</mat-icon>
        </div>

        <div style="padding-inline: 2%;">
        <h1 >
            Cliente
        </h1>

        <p>
                Debe introducir la información del titular de la reserva tal como aparece en la identificación emitida por su gobierno. Para que la reserva sea válida deben rellenarse todas las casillas.
        </p>
        </div>

        <div fxFlex="auto" fxLayout="column" fxLayoutGap="8px" style="padding-inline: 3%">
            <h2 fxFlex="100%">
                Información del Titular de la Reserva
            </h2>

            <div fxFlex="100%" fxLayout="column" fxLayoutGap="8px" style="padding-left: 0.2%; padding-right: 2%;">
                <!-- Fila de componentes -->
                <div fxFlex="100%" fxLayout="row" fxLayoutGap="10px grid">
                    <app-reservation-data-input fxFlex="33.3%"></app-reservation-data-input>
                    <app-reservation-data-input fxFlex="33.3%"></app-reservation-data-input>
                    <app-reservation-data-input fxFlex="33.3%"></app-reservation-data-input>
                </div>

                <div fxFlex="100%" fxLayout="row" fxLayoutGap="10px grid">
                    <app-reservation-data-input fxFlex="33.3%"></app-reservation-data-input>
                    <app-reservation-data-input fxFlex="33.3%"></app-reservation-data-input>
                </div>
            </div>

            <div fxFlex="100%">
                <hr>
            </div>

            <!-- Place -->
            <div fxFlex="100%" fxLayout="column" style="padding-left: 0.2%; padding-right: 2%;" class="padding-right-extra">
                <div fxLayout="row" fxLayoutGap="10px" >
                    <app-reservation-data-input fxFlex="33.3%" class="padding-right-extra"></app-reservation-data-input>
                    <app-reservation-data-input fxFlex="33.3%" class="padding-right"></app-reservation-data-input>
                </div>
            </div>

            <div fxFLex="100%">
                <hr>
            </div>

            <!-- Direction -->
            <h2 fxFlex="100%">
                Dirección

            </h2>

            <div fxFlex="100%" fxLayout="column" fxLayoutGap="8px" style="padding-left: 0.2%; padding-right: 2%;">
                <!-- Fila de componentes -->
                <div fxFlex="100%" fxLayout="row" fxLayoutGap="10px grid">
                    <app-reservation-data-input fxFlex="33.3%"></app-reservation-data-input>
                    <app-reservation-data-input fxFlex="33.3%"></app-reservation-data-input>
                    <app-reservation-data-input fxFlex="33.3%"></app-reservation-data-input>
                </div>

                <div fxFlex="100%" fxLayout="row" fxLayoutGap="10px grid">
                    <app-reservation-data-input fxFlex="33.3%"></app-reservation-data-input>
                    <app-reservation-data-input fxFlex="33.3%"></app-reservation-data-input>
                </div>
            </div>

            <div fxFLex="100%">
                <hr>
            </div>

            <div fxFlex="100%" fxLayout="column" fxLayoutGap="8px" style="padding-left: 0.2%; padding-right: 2%;">
                <div fxLayout="row" fxLayoutGap="10px grid">
                    <app-reservation-data-input fxFlex="33.3%"></app-reservation-data-input>
                    <div fxFlex="33.3%" fxLayout="row" fxLayoutGap="10px grid" class="padding-right-extra">
                        <app-reservation-number-small fxFlex="33.3%"></app-reservation-number-small>
                        <app-reservation-number-medium fxFlex="66.6%" class="padding-right"></app-reservation-number-medium>
                    </div>
                </div>
            </div>

            <div fxFlex="100%">
                <hr>
            </div>

            <div fxFlex="100%" fxLayout="column" fxLayoutGap="8px" style="padding-left: 0.2%; padding-right: 2%;">
                <div fxLayout="row" fxLayoutGap="10px grid">
                    <app-reservation-data-input fxFlex="33.3%"></app-reservation-data-input>
                    <app-reservation-data-input fxFlex="33.3%"></app-reservation-data-input>
                    <app-reservation-data-input fxFlex="33.3%"></app-reservation-data-input>
                </div>
            </div>

            <div fxFlex="100%" fxLayout="row">
                <app-reservation-data-input fxFlex="33.3%" class="padding-right-extra"></app-reservation-data-input>
            </div>

            <div fxFlex="100%">
                <hr>
            </div>

            <!-- Direction -->
            <h2 fxFlex="100%">
                Contactos del Titular
            </h2>

            <!-- Fila de componentes -->
            <div fxFlex="100%" fxLayout="row" fxLayoutGap="10px grid">
                <app-reservation-data-input fxFlex="33.3%"></app-reservation-data-input>
                <app-reservation-data-input fxFlex="33.3%"></app-reservation-data-input>
                <div fxFlex="33.3%" fxLayoutGap="10px grid" class="padding-right-extra">
                    <app-reservation-number-small fxFlex="33.3%"></app-reservation-number-small>
                    <app-reservation-number-medium fxFlex="66.6%"></app-reservation-number-medium>
                </div>
                
            </div>

            <div fxFlex="100%">
                <hr>
            </div>

            <div fxFlex="100%" fxLayout="row" fxLayoutAlign="end center" style="padding-bottom: 2%;">
                <div fxLayout="row" fxLayoutAlign="center center" class="button-pay-outside">
                    <div class="button-pay-inside">
                        PAGAR
                    </div>
                </div>
            </div>
            <!-- <div fxFlex="100%">
                <mat-label>Favorite food</mat-label>
                <input matInput placeholder="Ex. Pizza" value="Sushi">


                <p>A common form that includes input tags</p> -->
            <!-- <form action="getform.php" method="get">
                    <label>First name: <input type="text"></label><br>
                    <label>Last name: <input type="text"></label><br>
                    <label>E-mail: <input type="email"></label><br>
                    <input type="submit" value="Submit">
                </form> -->
            <!-- </div> -->
        </div>
    </div>
</div>