<div fxLayout="column" fxLayoutGap="50px" style="width: 96%; margin: 0 auto;">
    <div fxLayout="row" fxLayoutAlign="space-between center" style="   background-color: #e91e63; height: 75px; ">
        <!-- To do -->
        <div style="font-size: 16px; font-weight: 700; letter-spacing: .496px; color: #ffffff; padding:2%;">RESERVAR DE PAQUETE DE VIAJES</div>
        <mat-icon>close</mat-icon>
    </div>

    <div style="padding: 0% 1% 0% 1%;">
        <h1 style="font-size: 34px;
        font-weight: 700;
        color: rgba(0,0,0,.87);">
            Cliente
        </h1>

        <p style="letter-spacing: .252px;
        color: rgba(0,0,0,.87);">
            Debe introducir la información del titular de la reserva tal como aparece en la identificación emitida por su gobierno. Para que la reserva sea válida deben rellenarse todas las casillas.
        </p>

        <div fxLayout="column nowrap" style="padding: 0% 1% 0% 1%;" fxLayoutGap="15px grid">
            <h2 style="font-size: 24px;
            font-weight: 500;
            letter-spacing: .168px;
            margin-bottom: 0% !important;">
                Información del Titular de la Reserva

            </h2>

            <!-- Fila de componentes -->
            <div fxLayout="row wrap" fxLayoutGap="20px grid">
                <app-reservation-data-input></app-reservation-data-input>
                <app-reservation-data-input></app-reservation-data-input>
                <app-reservation-data-input></app-reservation-data-input>
            </div>

            <div fxLayout="row wrap" fxLayoutGap="20px grid">
                <app-reservation-data-input></app-reservation-data-input>
                <app-reservation-data-input></app-reservation-data-input>
            </div>

            <div>
                <hr>
            </div>

            <!-- Place -->
            <div fxLayout="row wrap" fxLayoutAlign=" center" fxLayoutGap="20px">
                <app-reservation-data-input></app-reservation-data-input>
                <app-reservation-data-input></app-reservation-data-input>
            </div>

            <div>
                <hr>
            </div>

            <!-- Direction -->
            <h2 style="font-size: 24px;
            font-weight: 500;
            letter-spacing: .168px;
            margin-bottom: 0% !important;">
                Dirección

            </h2>

            <!-- Fila de componentes -->
            <div fxLayout="row wrap" fxLayoutGap="20px grid">
                <app-reservation-data-input></app-reservation-data-input>
                <app-reservation-data-input></app-reservation-data-input>
                <app-reservation-data-input></app-reservation-data-input>
            </div>

            <div fxLayout="row wrap" fxLayoutGap="20px grid">
                <app-reservation-data-input></app-reservation-data-input>
                <app-reservation-data-input></app-reservation-data-input>
            </div>

            <div>
                <hr>
            </div>

            <div fxLayout="row wrap" fxLayoutGap="20px grid">
                <app-reservation-data-input></app-reservation-data-input>
                <app-reservation-number-small></app-reservation-number-small>
                <app-reservation-number-medium></app-reservation-number-medium>
            </div>

            <div>
                <hr>
            </div>

            <div fxLayout="row wrap" fxLayoutGap="20px grid">
                <app-reservation-data-input></app-reservation-data-input>
                <app-reservation-data-input></app-reservation-data-input>
                <app-reservation-data-input></app-reservation-data-input>
            </div>

            <div fxLayout="row wrap" fxLayoutGap="20px grid">
                <app-reservation-data-input></app-reservation-data-input>
            </div>

            <div>
                <hr>
            </div>

            <!-- Direction -->
            <h2 style="font-size: 24px;
            font-weight: 500;
            letter-spacing: .168px;
            margin-bottom: 0% !important;">
                Contactos del Titular

            </h2>

            <!-- Fila de componentes -->
            <div fxLayout="row wrap" fxLayoutGap="20px grid">
                <app-reservation-data-input></app-reservation-data-input>
                <app-reservation-data-input></app-reservation-data-input>
                <app-reservation-number-small></app-reservation-number-small>
                <app-reservation-number-medium></app-reservation-number-medium>
            </div>

            <div>
                <hr>
            </div>

            <div fxLayoutAlign="end center">
                <div fxLayoutAlign="center center" style="background-color: #e91e63;
                border-radius: 18px;
                width: 133px;
                height: 36px;
                overflow: hidden;">
                    <div style="font-weight: 500;
                    letter-spacing: 1.246px;
                    color: #ffffff;">
                        PAGAR
                    </div>
                </div>
            </div>
            <!-- <div fxFlex="100%">
                <mat-label>Favorite food</mat-label>
                <input matInput placeholder="Ex. Pizza" value="Sushi">


                <p>A common form that includes input tags</p> -->
            <!-- <form action="getform.php" method="get">
                    <label>First name: <input type="text"></label><br>
                    <label>Last name: <input type="text"></label><br>
                    <label>E-mail: <input type="email"></label><br>
                    <input type="submit" value="Submit">
                </form> -->
            <!-- </div> -->
        </div>
    </div>

</div>