<div fxFlex="100%" fxLayout="column" fxLayoutGap="5px">
    <h1 fxFlex="100%" style="margin-bottom: 10px !important;">
        Datos de Pago
    </h1>

    <app-pays-pay-details-data fxFlex="100%"></app-pays-pay-details-data>


    <div fxFlex="100%">
        <hr>
    </div>

    <app-pays-pay-details-methods fxFlex="100%"></app-pays-pay-details-methods>

    <div fxFlex="100%">
        <hr>
    </div>

    <app-pays-pay-details-fee fxFlex="100%"></app-pays-pay-details-fee>

    <div fxFlex="100%">
        <hr>
    </div>

    <app-pays-pay-details-proceed fxFlex="100%"></app-pays-pay-details-proceed>
</div>