<div fxLayoutGap="30px grid">
    <div style="font-size: 34px;
    font-weight: 700;
    color: rgba(0,0,0,.87);">
        Datos de Pago
    </div>

    <app-pays-pay-details-data></app-pays-pay-details-data>


    <div>
        <hr>
    </div>

    <app-pays-pay-details-methods></app-pays-pay-details-methods>

    <div>
        <hr>
    </div>

    <app-pays-pay-details-fee></app-pays-pay-details-fee>

    <div>
        <hr>
    </div>

    <app-pays-pay-details-proceed></app-pays-pay-details-proceed>
</div>