<div fxLayoutAlign="start center" style="border-radius: 28.5px;
border: 1px solid #bdbdbd;
width: 100%;
height: 57px;
overflow: hidden;
            padding-left:2%;">
    <!-- <mat-form-field class="example-full-width">
                    <mat-label>Favorite food</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="Sushi">
                </mat-form-field> -->
    <div fxLayout="column wrap" style="padding-left: 2%;">

        <label for="name">Nombre</label>
        <input matInput id="name" type="text" placeholder="Nombre" value="Antonio" style="border: 0cm;">
    </div>

</div>
