<app-toolbar></app-toolbar>
<app-steps></app-steps>

<div style="width: 96%; margin: 0 auto;">
    <div fxFlex="100%" fxLayout="row" fxLayoutAlign="start" fxLayoutGap="20px grid">
        <div fxFlex="75%" style="background-color: #ffffff;">
            <!-- <mat-card>
                <mat-card-content>
                    <div style="background-color: aquamarine;">Todos los componentes aqui</div>
                </mat-card-content>
            </mat-card> -->
            <app-info></app-info>
            <app-options></app-options>
            <app-opinions></app-opinions>
            <app-offers></app-offers>
        </div>
        <div fxFlex="25%" style="padding-right: 0 !important; ">
            <!-- <app-reservation-card></app-reservation-card> -->
            <app-search></app-search>
        </div>
    </div>
</div>