<div style="width: 1200px; margin: 0 auto; height: 900px; background-color:cadetblue">
    <div fxFlex="100%" fxLayout="row" fxLayoutAlign="start" fxLayoutGap="20px grid">
        <div fxFlex="75%" style="background-color: blue;">
            <mat-card>
                <mat-card-content>
                    <div style="background-color: aquamarine;">Todos los componentes aqui</div>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="25%" style="background-color: darkgoldenrod; padding-right: 0 !important;">
            <app-reservation-card></app-reservation-card>
        </div>
    </div>
</div>



<app-toolbar></app-toolbar>
<app-steps></app-steps>
<app-info></app-info>
<app-options></app-options>
<app-opinions></app-opinions>
<app-offers></app-offers>