<app-toolbar></app-toolbar>
<app-steps></app-steps>

<!-- style="width: 96%; margin: 0 auto; max-width: 915px;" -->
<div class="page-container" >
    <div fxFlex="100%" fxLayout="row" fxLayoutAlign="start" fxLayoutGap="15px grid">
        <div fxFlex="71%" fxLayout="column" style="background-color: #ffffff;">
            <!-- <mat-card>
                <mat-card-content>
                    <div style="background-color: aquamarine;">Todos los componentes aqui</div>
                </mat-card-content>
            </mat-card> -->
            <app-info fxFlex="100%"></app-info>
            <app-options fxFlex="100%"></app-options>
            <app-opinions fxFlex="100%"></app-opinions>
            <app-offers fxFlex="100%"></app-offers>
        </div>
        <div fxFlex="29%">
          <!-- style="padding-right: 0 !important; " -->
            <!-- <app-reservation-card></app-reservation-card> -->
            <app-search></app-search>
        </div>
    </div>
</div>