<div id="options-layout" fxFlex="100%">

    <mat-card fxFlex="100%" class="mat-card-sections-left">
        <mat-card-content fxFlex="100%" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="15px" style="color: #ffffff;">
            <h1 fxFlex="100%">
                Opciones de Reserva
            </h1>
            <div fxFlex="100%" class="options-text-top">
                Fechas de inicio disponibles
            </div>

            <app-swipper-dates fxFlex="100%" style="display: grid; position: relative;">
            </app-swipper-dates>

            <app-profile-options-swiper-list fxFlex="100%" ></app-profile-options-swiper-list>
        </mat-card-content>
    </mat-card>
</div>