.padding-left-right {
    padding-left: 20%;
    padding-right: 20%;
}

#options-layout {
    // max-width: "calc(100% - 340px)";
    width: calc(100% - 620px);
    // padding-left: 10%;
    margin-bottom: 10px;
    // padding-left: 10%;
    // padding-right: 10%;
}