// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$my-app-primary: mat-palette($mat-indigo);
$my-app-accent: mat-palette($mat-pink, A200, A100, A400);
// The warn palette is optional (defaults to red).
$my-app-warn: mat-palette($mat-red);
// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$my-app-theme: mat-light-theme(( color: ( primary: $my-app-primary, accent: $my-app-accent, warn: $my-app-warn, )));
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($my-app-theme);

/* You can add global styles to this file, and also import other style files */

// FONTS
@import "./assets/scss/fonts-roboto";
@import "./assets/scss/fonts-material";

// SWIPER JS
@import "~swiper/swiper-bundle";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
    font-size: 26px !important;
    font-weight: 800 !important;
    color: rgba(0, 0, 0, .87) !important;
    letter-spacing: .596px !important;
}

h2{
    font-size: 20px !important;
    font-weight: 400 !important;
    letter-spacing: .268px !important;
    // margin-bottom: 0% !important;
}

p{
    font-size:12px !important;
    font-weight: 300 !important;
    letter-spacing: .452px !important;
    color: rgba(0,0,0,.87) !important;
    margin: 0 0 0px !important;
}
.my-h1{
    font-size: 26px !important;
    font-weight: 700 !important;
    color: rgba(0, 0, 0, .87) !important;
    letter-spacing: .596px !important;
}

.special-text {
    font-size: 8px;
    font-weight: 400;
    letter-spacing: 0.4px;
    color: #e91e63;
}

// ::ng-deep {
    mat-card,
    .mat-card-sections-left {
        box-shadow: 3px 3px 6px rgba(0, 0, 0, .16) !important;
        border-top-right-radius: 0px !important; 
        border-top-left-radius: 20px !important;
        border-bottom-right-radius: 20px !important;
        border-bottom-left-radius: 0px !important;
    }
    .mat-card-sections-right {
        box-shadow: 3px 3px 6px rgba(0, 0, 0, .16) !important;
        border-top-right-radius: 20px !important; 
        border-top-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        border-bottom-left-radius: 20px !important;
    }

.page-container{
    width: 96%; 
    margin: 0 auto; 
    max-width: 915px;
}

.menu-top{
    font-size: 8.1px;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: rgba(0,0,0,.87);
}

.menu-middle{
    font-size: 11px;;
    font-weight: 500;
    letter-spacing: .098px;
    color: rgba(0,0,0,.87);
    padding-right: 0px;
}

.menu-middle-right{
    font-size: 11px;
    font-weight: 800;
    letter-spacing: .098px;
    color: rgba(0, 0, 0, .87);
}

.button-pay-outside{
    background-color: #e91e63 !important;
    border-radius: 18px !important;
    // width: 133px !important;
    height: 28px !important;
    width: 100px;
    overflow: hidden !important;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .16) !important;  
    padding-inline: 4%;
}
.button-pay-inside{
    font-size: 10px !important; 
    font-weight: 500 !important; 
    letter-spacing: 1.246px !important; 
    color: #ffffff !important;
}
.button-cancel-outside{
    padding-inline: 4% !important; 
    background-color: #ffffff !important; 
    border-radius: 18px !important; 
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .16) !important;  
    overflow: hidden !important;
    height: 28px;
    width: 100px;
    // padding-inline: 2%;
}
.button-cancel-inside{
    font-size: 10px !important; 
    font-weight: 500 !important; 
    letter-spacing: 1.246px !important; 
    color: #e91e63 !important;
    text-transform: uppercase !important;
}
// } 

// .mc-sections{
//     box-shadow: 3px 3px 6px rgba(0, 0, 0, .16);
//     border-top-right-radius: 20px; 
//     border-top-left-radius: 0px;
//     border-bottom-right-radius: 20px;
//     border-bottom-left-radius: 0px;
// }