<div fxFlex="100%" fxLayoutAlign="center center" style="border-radius: 28.5px;
border: 1px solid #bdbdbd;
width: 100%;
height: 42px;
overflow: hidden;
padding-left: 7%;">
    <!-- <mat-form-field class="example-full-width">
                    <mat-label>Favorite food</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="Sushi">
                </mat-form-field> -->
    <div fxLayout="column">

        <label for="name" fxFlex="auto" style="font-size: 10px; font-weight: 300; letter-spacing: 0.122px; line-height: 13px; width: 100% !important;">Codig</label>
        <input matInput fxFlex="auto" id="name" type="text" placeholder="Nombre" value="+53" style="border: 0cm; font-weight: 600; width: 100% !important;">
    </div>

</div>