<div fxFlex="100%" fxLayout="column" fxLayoutGap="10px">
    <div fxFlex="100%" fxLayout="row" fxLayoutAlign="space-between">
        <div class="sub-total-left">
            Subtotal:
        </div>

        <div class="li-right">
            $ 500
        </div>
    </div>

    <div fxFlex="100%" fxLayout="row" fxLayoutAlign="space-between" >
        <div fxFlex="50%" class="sub-total-left">
            Cargos por Reservación:
        </div>

        <div fxFlex="50%" fxLayout="column" fxLayoutAlign="end end" class="li-right">
            $ 50
        </div>
    </div>
</div>
