#image-layout {
    // padding: 60px;
    // padding-left: 10%;
    // padding-right: 10%;
    // margin-bottom: 10px;
    // height: 500px;

    ::ng-deep mat-card {
        border-top-right-radius: 24px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 8px;
        // margin: 1%;
    }
    #left-img {
        margin-right: 1%;
    }
    .img-class-top {
        margin-bottom: 1%;
        // object-fit: cover;
        // padding-bottom: 0 !important;
        // padding-top: 2%;
        // margin-right: 0% !important;
    }
    .img-class-bottom {
        // padding-bottom: 0 !important;
        // padding-bottom: 0 !important;
        // padding-right: 0%;
        // padding-top: 2%;
        // position: relative;
    }
    mat-card {
        margin-bottom: 30px;
        // max-width: 400px;
        // max-height: 100px;
    }
    .text-left {
        letter-spacing: .8px;
        color: #757575;
        font-size: 11px;
    }
    .text-right {
        font-size: 12px;
        font-weight: 600;
        letter-spacing: .496px;
        color: #757575;
    }
    
    .text-top {
        font-size: 12px;
        font-weight: 700;
        letter-spacing: .496px;
        color: rgba(0, 0, 0, .87);
    }
    .text-bottom {
        font-size: 11px;
        letter-spacing: .252px;
        color: rgba(0, 0, 0, .87);
    }
    .what-includes-text-top {
        font-size: 12px;
        font-weight: 500;
        letter-spacing: .496px;
    }
    .what-includes-text-bottom {
        letter-spacing: .252px;
        color: #757575;
        // padding-left: 1%;
        // margin-left: 3%;
        font-size: 11px;
        font-size: .8em;
    }

    .button-more-pics{
        position: absolute;
        bottom: 10px;
        right: 16px;
        box-shadow: 3px 3px 6px rgba(0, 0, 0, .16);
        // border: 1px solid darkgrey;
        // padding: 3px 0px;
        padding: 1% 2% !important;
        overflow: hidden;
        text-transform: uppercase;
        font-size: .8em;
        width: auto;
        height: auto;
        font-weight: 500;
letter-spacing: 1.246px;

        .button-letters{
            line-height: 15px;
            letter-spacing: 1.946px !important;
        }
    }
}

.padding-left-right {
    padding-left: 20%;
    padding-right: 20%;
}

h1 {
    font-size: 26px;
    font-weight: 700;
    color: rgba(0, 0, 0, .87);
    letter-spacing: .596px;
}