<div fxLayoutAlign="space-between">
    <div fxLayout="column" fxLayoutAlign=" start">
        <div class="search-text-left">
            Grupo 1
        </div>

        <ul fxFlex="100%" fxLayout="column" fxLayoutAlign="space-around">
            <li class="li-left">HAB Doble</li>
            <li class="li-left">Desayuno y Cena</li>
            <li class="li-left">Vuelos y Traslados</li>
        </ul>
    </div>

    <div fxLayout="column" fxLayoutAlign="space-between">
        <div class="search-text-right">
            2 Adultos
        </div>

        <div class="li-right">
            $ 150 
        </div>
    </div>
</div>