.search-text-left {
    font-size: 13px;
    letter-spacing: .144px;
    color: #757575;
}

.search-text-right {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: .144px;
    color: rgba(0, 0, 0, .87);
}

.li-left {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .496px;
    color: #757575;
}

.li-right {
    font-size: 14px;
    font-weight: 800;
    letter-spacing: .16px;
    color: rgba(0, 0, 0, .87);
}

ul{
    padding-inline-start: 16px;
    margin: 0%;
}
