<div fxFlex="100%" fxLayout="column">
    <!-- Boton -->
    <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center center" style="background-color: rgba(233, 30, 99, .5);
    border-radius: 18px;
    padding: 4%;
    overflow: hidden;">
        <div style="
        font-size: 11px;
        font-weight: 400;
        letter-spacing: 0.862;
        color: #ffffff;">
            Jueves 20 Nov
        </div>
    </div >
    <!-- Descripcion de la fecha -->
    <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center" style="font-size: 9px;
    color: #616161;">
        20 plazas disponibles
    </div>
</div>