<div fxLayoutGap="20px grid">
    <div style="font-size: 20px;
    font-weight: 700;
    letter-spacing: .16px;
    color: rgba(0,0,0,.87);">
        Paquete de Viaje
    </div>

    <div fxLayout="row nowrap" fxLayoutGap="30px">
        <app-pays-reservation-details-package-item></app-pays-reservation-details-package-item>
        <app-pays-reservation-details-package-item></app-pays-reservation-details-package-item>
        <app-pays-reservation-details-package-item></app-pays-reservation-details-package-item>
        <app-pays-reservation-details-package-item></app-pays-reservation-details-package-item>
        <app-pays-reservation-details-package-item></app-pays-reservation-details-package-item>
        <app-pays-reservation-details-package-item></app-pays-reservation-details-package-item>
        <app-pays-reservation-details-package-item></app-pays-reservation-details-package-item>
    </div>
</div>