<div fxFlex="100%" fxLayout="column" fxLayoutGap="10px">
    <h2 fxFlex="100%" style="font-size: 18px !important; font-weight: 600px !important;">
        Paquete de Viaje
    </h2>

    <div fxFlex="100%" fxLayout="row" fxLayoutGap="30px grid">
        <app-pays-reservation-details-package-item></app-pays-reservation-details-package-item>
        <app-pays-reservation-details-package-item></app-pays-reservation-details-package-item>
        <app-pays-reservation-details-package-item></app-pays-reservation-details-package-item>
        <app-pays-reservation-details-package-item></app-pays-reservation-details-package-item>
        <app-pays-reservation-details-package-item></app-pays-reservation-details-package-item>
        <app-pays-reservation-details-package-item></app-pays-reservation-details-package-item>
        <app-pays-reservation-details-package-item></app-pays-reservation-details-package-item>
    </div>
</div>