<div fxLayout="row wrap" fxLayoutAlign="end start" fxLayoutGap="10px" style="margin-right: 3% !important; margin-bottom: 1%;">
    <div fxLayoutAlign="center center" style="background-color: #ffffff;
    width: 133px;
    height: 36px;
    border-radius: 18px;
    ">
        <div style="font-weight: 500;
        letter-spacing: 1.246px;
        color: #e91e63;
        ">CANCELAR</div>
    </div>

    <div fxLayoutAlign="center center" style="background-color: #e91e63;
    width: 133px;
    height: 36px;
    border-radius: 18px;">
        <div style=" font-weight: 500; letter-spacing: 1.246px; color: #ffffff; ">
            PAGAR</div>
    </div>
</div>